mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}
mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.price{
    position: absolute;
    right: 10px;
    bottom: 0;
}

.time{
    position: absolute;
    left: 10px;
    bottom: 0;
}

.highest {
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    opacity: 0.8;
}