mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}
mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.price{
    position: absolute;
    right: 10px;
    bottom: 0;
}

.time{
    position: absolute;
    left: 10px;
    bottom: 0;
}