<div *ngIf="auctions?.items" [@cardsAnimation]>
  <mat-grid-list  [cols]="colNumber" rowHeight="4:5.5" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let auction of auctions?.items">
      <mat-card>
        <img mat-card-image [src]="auction?.associatedVehicle.vehicleImages[0]?.url" [alt]="auction?.label">
        <h5 class="highest" *ngIf="auction?.amIHighestBidder">Highest Bidder</h5>
        <h3>{{auction?.label}}</h3>
        <h5>{{auction?.associatedVehicle.ez}} | {{auction?.associatedVehicle.mileageInKm | number}} Km | {{auction?.associatedVehicle.fuelType | fuelType}} | {{auction?.associatedVehicle.transmission | transmissionType}}</h5>

        <mat-card-footer>
          <h3 class="time">{{auction?.remainingTimeInSeconds | secondsToHour}}</h3>
          <h2 class="price">€ {{auction?.currentHighestBidValue}}</h2>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

